Django>=5.2,<6.1
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-redis
celery
django-celery-beat
redis
psycopg2-binary
python-decouple
gunicorn
whitenoise
Pillow
drf-spectacular==0.30.0
stripe
django-unfold
pyluach
pyotp
qrcode
